{% extends 'resources/base.html' %}

{% block title %}login{% endblock %}

{% block header %}
    <p>注册/登录</p>
{% endblock %}
{% block content %}
<div class="container" id="sign_in_box" >
<form class="form-horizontal" id="login_form" action="./?next={{ redirect_to }}" method="post" autocomplete="on">
  <div class="form-group">
    <label for="username" class="col-sm-2 control-label ">用户名</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="username" id="username" placeholder="用户名" autofocus="autofocus">
    </div>
    <div class="col-sm-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="isNewUser"> 新用户
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">密码</label>
    <div class="col-sm-2">
      <input type="password" class="form-control" name="password" id="password" placeholder="密码">
    </div>
    <div class="col-sm-2" hidden>
        <button type="button" class="btn btn-default" aria-label="left align" id="showPassword" rel="1" >
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true" ></span>
        </button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-default" id="login_button">登录</button>
    </div>
  </div>
</form>
</div>
<script type="text/javascript">
    $(function(){
        $('#isNewUser').click(function(){
            if(this.checked){
                $('#login_form').attr('action','/user_add/?next={{ redirect_to }}');
                $('#login_button').text("注册");
                $('#showPassword').parent().show();
            }else{
                $('#login_form').attr('action','./?next={{ redirect_to }}');
                $('#login_button').text("登录");
                $('#showPassword').parent().hide();
                $('#password').attr('type','password');
            }
        });
        $('#showPassword').click(function(){
            if($(this).attr('rel') == 1){
                $(this).attr('rel','0');
                $(this).children("span").addClass("glyphicon-eye-close");
                $(this).children("span").removeClass("glyphicon-eye-open");
                $('#password').attr('type','text');
            }else{
                $(this).attr('rel','1');
                $(this).children("span").addClass("glyphicon-eye-open");
                $(this).children("span").removeClass("glyphicon-eye-close");
                $('#password').attr('type','password');
            }
        });
    });
</script>

{% endblock %}