<script src="/static/assets/jquery/jquery-2.1.4.min.js"></script>
<script src="/static/assets/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="/static/assets/jquery/unveil/jquery.unveil.min.js"></script>
<script src="/static/assets/jquery/scrollUp/jquery.scrollUp.min.js"></script>
<script src="/static/assets/toc/toc.min.js"></script>
<script src="/static/assets/jquery/matchHeight/jquery.matchHeight-min.js"></script>
<script src="/static/assets/js/site.min.js"></script>
<div class="list-inline text-center">
    Feyn's:  Created by his father<br>
    Copyright &copy; 2015-2015 Powered by Feyn All Rights Reserved.
</div>