<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Feyn's father">
<meta name="robots" content="index,follow">
<meta name="application-name" content="Feyn's">

<!-- Site CSS -->
<link href="/static/assets/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/assets/css/font-awesome.min.css" rel="stylesheet">
{% comment %}
<link href="/static/assets/css/site.min.css?v5" rel="stylesheet">
{% endcomment %}
<link href="/static/assets/css/docs.min.css" rel="stylesheet">
<link href="/static/assets/css/feyn.css" rel="stylesheet">

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-precomposed.png">
<link rel="shortcut icon" href="/static//assets/ico/favicon.png">
<link rel="canonical" href="http://www.feyn.com/" />
